.button-container {
	flex-grow: 1;
}

.collapsed {
	flex-grow: unset;
}

button {
	border: 0;
	height: 100%;
	cursor: pointer;
	min-width: 6.6rem;
	border-radius: 0.4rem;
	padding: 0.6rem 1.2rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -8px #0009;
}

	button:hover {
		background-color: #fff7;
		box-shadow: 6px 6px 16px -6px #0009;
	}

	button:active {
		background-color: #fff4;
		box-shadow: inset -6px -6px 16px -12px #0009;
	}

.collapsed button {
	padding: 0.6rem;
	min-width: 2.4rem;
}

[disabled] {
	color: #0009;
	cursor: unset;
	box-shadow: none;
}

[disabled]:hover {
	box-shadow: none;
	background-color: #fff5;
}