.dropdown-container {
	margin: 0.8rem 0;
}

.dropdown-button {
	cursor: pointer;
	padding: 0.6rem;
	font-size: 14px;
	border-radius: 0.4rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -8px #0009;
}

	.dropdown-button .placeholder {
		color: #0009;
	}

	.dropdown-button:hover {
		background-color: #fff7;
		box-shadow: 6px 6px 16px -6px #0009;
	}