.nav-menu {
	min-width: max-content;
}

.nav-menu-header {
	height: 4rem;
	flex-grow: 0;
}

.nav-menu-footer {
	flex-grow: 0;
}

.nav-menu-button {
	display: flex;
	margin: 0.6rem;
}

.closed {
	padding: 0;
}