.searchbar-container {
	width: 42vw;
	max-width: 32rem;
	position: absolute;
	border-radius: 0.4rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -8px #0009;
}

	.searchbar-container:hover {
		background-color: #fff7;
		box-shadow: 6px 6px 16px -6px #0009;
	}

	.searchbar-container:focus {
		background-color: #fff9;
	}

.searchbar-input {
	flex-grow: 1;
}

.searchbar-icon {
	fill: #0005;
	padding: 0.6rem;
}

input {
	height: 1.2rem;
	border-width: 0;
	padding: 0.6rem;
	font-size: 14px;
	background-color: transparent;
	border-radius: 0.4rem 0 0 0.4rem;
}

	input:focus {
		outline: 0;
		background-color: #fff9;
	}