<div class="sidepanel-container column" @onclick:stopPropagation="true" hidden="@(!isOpen)">
	<div class="sidepanel-title row">
		@Title
	</div>

	<div class="sidepanel-content row">
		@ChildContent
	</div>
</div>

@code {
	private bool isOpen = false;

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Title { get; set; }

	public void OpenPanel()
	{
		isOpen = true;
	}

	public void ClosePanel()
	{
		isOpen = false;
	}
}
