.side-panel {
	position: absolute;
	width: 16rem;
	height: 100%;
	right: 0;
}

.side-panel-container {
	padding: 1.6rem;
	background: transparent;
	backdrop-filter: blur(1.6rem);
	box-shadow: -6px 0px 24px -4px #0009;
}

.collapsed {
	display: none;
}