.table-cell {
	flex-grow: 1;
	width: 100%;
}

th {
	flex-grow: 1;
	text-align: left;
	user-select: none;
	font-size: 0.8rem;
	font-weight: lighter;
	padding: 0.1rem 0.6rem;
}

td {
	flex-grow: 1;
	text-align: left;
	user-select: none;
	padding: 0.1rem 0.6rem;
}