.table-container {
	flex-grow: 1;
}

table {
	height: 0;
	padding: 1.6rem;
	overflow: scroll;
}

.table-rows {
	flex-grow: 1;
}

.table-row {
	padding: 0.6rem;
	margin: 0.8rem 0;
	border-radius: 0.4rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -12px #0009;
	cursor: pointer;
}

	.table-row:hover {
		background-color: #fff7;
	}

.table-data {
	flex-grow: 1;
	align-items: center;
	user-select: none;
}
