<div class="table column">
	<div class="table-header row">
	</div>
	
	<div class="table-content row">
		<div class="scrollable-table">
			<div class="table-rows">
				@ChildContent
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
