.table {
	flex-grow: 1;
}

.table-header {
	flex-grow: 0;
}

.table-content {
	flex-grow: 1;
}

.scrollable-table {
	width: 100%;
	margin: 1.6rem 0;
	padding: 0 1.6rem;
	overflow-y: scroll;
}

.scrollable-table::before {
	content: '';
	width: 100%;
	height: 3.2rem;
	pointer-events: none;
	background: linear-gradient(#ccc, transparent);
}

.scrollable-table::after {
	content: '';
	width: 100%;
	height: 3.2rem;
	pointer-events: none;
	background: linear-gradient(transparent, #ccc);
}

.table-rows {
	height: 0;
}