.table-row {
	display: flex;
	align-self: stretch;
	padding: 0.6rem;
	margin: 0.8rem 0;
	border-radius: 0.4rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -12px #0009;
	cursor: pointer;
}

	.table-row:hover {
		background-color: #fff7;
	}