@typeparam TItem

<CascadingValue IsFixed="true" Value="this">@ChildContent</CascadingValue>

<div class="table-container column">
	<table class="row">
		<tbody class="table-rows">
			@if (ChildContent is not null && Items?.Count > 0)
			{
				foreach (var item in Items)
				{
					var cssClass = "table-row";

					switch (Items.IndexOf(item))
					{
						case var index when index == 0:
							cssClass += " first";
							break;
						case var index when index == Items.Count - 1:
							cssClass += " last";
							break;
					}

					<tr @key="item.GetHashCode()" class="@cssClass" @onclick:stopPropagation="true" @onclick="(async () => await ItemClickedAsync(item))">
						@foreach (var column in columns)
						{
							<td class="@($"table-data column {column.AlignItems.ToString()?.ToLower()}".Trim())">
								@column.GetCellValue(item)
							</td>
						}
					</tr>
				}
			}
		</tbody>
	</table>
</div>

@code {
	private List<TableColumn<TItem>> columns = new List<TableColumn<TItem>>();

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public IList<TItem>? Items { get; set; }

	[Parameter]
	public EventCallback ItemClicked { get; set; }

	internal void AddTableRow(TableColumn<TItem> column)
	{
		columns.Add(column);
	}

	private async Task ItemClickedAsync(TItem item)
	{
		await ItemClicked.InvokeAsync(item);
	}
}