.table-container {
	flex-grow: 1;
}

table {
	height: 0;
}

.table-rows {
	display: table-row-group;
	padding: 0.8rem 1.6rem;
	overflow-y: scroll;
}

.table-row {
	padding: 0.6rem;
	margin: 0.8rem 0;
	border-radius: 0.4rem;
	background-color: #fff5;
	box-shadow: 6px 6px 16px -8px #0009;
	cursor: pointer;
}

	.table-row:hover {
		background-color: #fff7;
		box-shadow: 6px 6px 16px -6px #0009;
	}

	.table-row:active {
		background-color: #fff4;
		box-shadow: inset -6px -6px 16px -12px #0009;
	}

.table-row-checkbox {
	align-items: center;
}

input {
	margin: 0;
	width: 1rem;
	height: 1rem;
}
