@font-face {
	font-family: Selawik;
	src: url(fonts/selawik.ttf);
}

[hidden] {
	display: none !important;
}

html * {
	color: #323130;
	font-family: Segoe UI, Selawik;
}

html, body, #app {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

form {
	width: 100%;
}

p {
	margin: 0;
}

h1 {
	font-size: 32px;
	padding: 0 0 1.6rem 0;
	font-weight: lighter;
	margin: 0;
	user-select: none;
}

h2 {
	font-size: 24px;
	padding: 0 0 1.6rem 0;
	font-weight: lighter;
	margin: 0;
	user-select: none;
}

label {
	font-size: 14px;
}

.column,
[class$="column"] {
	display: flex;
	flex-direction: column;
}

.row,
[class$="row"] {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.button {
	padding: 0.6rem;
	cursor: pointer;
	align-self: center;
	border-radius: 0.4rem;
}

	.button:hover {
		background-color: #fff3;
	}

	.button:active {
		background-color: #fff5;
	}

@keyframes panelAnimation {
	0% {
		margin: 0 2.4rem 0 0;
		width: 6rem;
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		width: 0;
		margin: 0;
		opacity: 0;
	}
}

@keyframes removeMargins {
	from {
		margin: 0 1rem 0 0;
	}

	to {
		margin: 0;
	}
}