@font-face {
	font-family: Selawik;
	src: url(_content/Intervip.Razor/fonts/selawik.ttf);
}

html * {
	color: #323130;
	font-family: Segoe UI, Selawik;
}

html, body, #app {
	height: 100%;
	padding: 0;
	margin: 0;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.align-left {
	align-items: flex-start;
	justify-content: inherit;
}

.align-right {
	align-items: flex-end;
	justify-content: flex-end;
}

.button {
	padding: 0.6rem;
	cursor: pointer;
	align-self: center;
	border-radius: 0.4rem;
}

	.button:hover {
		background-color: #fff3;
	}

	.button:active {
		background-color: #fff5;
	}

@keyframes panelAnimation {
	0% {
		margin: 0 2.4rem 0 0;
		width: 6rem;
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		width: 0;
		margin: 0;
		opacity: 0;
	}
}

@keyframes removeMargins {
	from {
		margin: 0 1rem 0 0;
	}

	to {
		margin: 0;
	}
}